*{
    margin: 0;
    padding: 0;
}

body{
    font-family: monospace;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccbc8;
}

.principal{
    background-color: #3b3c3d;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: none;
    border-radius: 10px;
}

.input{
    font-family: monospace;
    font-size: 1.3em;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.botao{
    font-family: monospace;
    font-size: 1.3em;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #00668c;
    color: white;
}

.botao:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.area-erro {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

.botao:hover{
    cursor: pointer;
}

a{
    text-decoration: underline;
    color: white;
}
